
@{
	ViewBag.Title = "Index";
}
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"><h2>Agregar Tipo de producto</h2></div>
		<div class="panel-body">
			<div class="col-md-12">

				<span style="display:none" id="idUsuario"></span>

				<table class="col-md-12">
					<tbody>
						<tr>
							<td style="width:11%"><strong>Nombre: </strong></td>
							<td style="width:22%"><span id="lNombre"></span></td>
							<td style="width:11%"><strong>Clave UR: </strong></td>
							<td style="width:23%"><span id="lClaveUR"></span></td>
							<td style="width:11%"><strong>Clave UP: </strong></td>
							<td style="width:22%"><span id="lClaveUP"></span></td>
						</tr>
						<tr>
							<td><strong>Cargo: </strong></td>
							<td><span id="lCargo"></span></td>
							<td><strong>Unidad Responsable: </strong></td>
							<td><span id="lUnidad"></span></td>
							<td><strong>Unidad Presupuestal: </strong></td>
							<td><span id="lUnidadP"></span></td>
						</tr>
					</tbody>
				</table>
				<span style="display:none" id="idUsuario"></span>
				<p>
					<div class="row">
						<div class="col-md-3">
							<label class="control-label">Clave:</label><br />
							<input readonly class="form-control" id="clave" name="clave" placeholder="" />
							<span class="text-danger" id="error-clave"></span>
						</div>
					</div>
				</p>
				<p>					
					<div class="row">
						<div class="col-md-5">
							<label class="control-label">Clave alfanumérica:</label><br />
							<input type="text" class="form-control" id="clavealfanumerica" name="clavealfanumerica" placeholder="Agregar clave alfanumérica" />
							<span class="text-danger" id="error-clave"></span>
						</div>
					</div>
				</p>
				<p>
					<div class="row">
						<div class="col-md-5">
							<label class="control-label">Tipo de producto:</label><br />
							<input type="text" class="form-control" id="tipodeproducto" name="tipodeproducto" placeholder="Agregar tipo de producto" />
							<span class="text-danger" id="error-tipo"></span>
						</div>
					</div>
				</p>
				<p>
					<div class="row">
						<div class="col-md-5">
							<label class="control-label">Descripción de producto:</label><br />
							<textarea name="texto" class="form-control" rows="4" cols="90" id="descripciondeproducto" placeholder="Agregar tipo de producto"></textarea>							 
							<span class="text-danger" id="error-descripcion"></span>
						</div>
					</div>			
				</p>
				<p>
					<a class="btn btn-primary btn-success " href="/CatalogoTipo/Index">
						<i class="fa fa-chevron-circle-right"></i> Enviar
					</a>
					<a class="btn btn-primary btn-danger " href="/CatalogoTipo/Index">
						<i class="fa fa-chevron-circle-right"></i> Cancelar
					</a>
				</p>				
			</div>
			</div>
		</div>
	</div>
<!----------------------------------------------JS--------------------------------------->
<script type="text/javascript" src="~/Assets/js/fontawesome-all.min.js"></script>
<script type="text/javascript" src="~/Assets/bootstrap3-dialog-master/src/js/bootstrap-dialog.js"></script>
<script type="text/javascript">
</script>